body {
  margin: 0;
  font-family: 'Klavika', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Klavika";
  src: local("./fonts/Klavika-Regular.woff2") format("woff2"),
    local("./fonts/Klavika-Regular.woff") format("woff"),
    local("./fonts/Klavika-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Klavika";
  src: local("./fonts/Klavika-Bold.woff2") format("woff2"),
    local("./fonts/Klavika-Bold.woff") format("woff"),
    local("./fonts/Klavika-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Klavika";
  src: local("./fonts/Klavika-Italic.woff2") format("woff2"),
    local("./fonts/Klavika-Italic.woff") format("woff"),
    local("./fonts/Klavika-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
